<h2><%= @event.name %></h2>

<h4>Creator</h4>
<%= @event.creator.fullname %>

<h4>Location</h4>
<%= @event.location %>

<h4>Date</h4>
<%= @event.date %>

<h4>Time</h4>
<%= @event.time %>

<h4>Attendees</h4>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.fullname, attendee %>
    </li>
  <% end %>
</ul>

<%= form_with url: invitations_path, method: :post do |form| %>
  <input type="hidden" id="invitation_event_id" name="invitation[event][id]" value=<%= @event.id %>>
  <%= form.submit "Attend" %>
<% end %>
